<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
      <connectionStrings>
            <add name="Fingerprint_Attendance.Properties.Settings.some_stuffConnectionString"
                  connectionString="Data Source=IFEOLUWA\MSSQLSERVER2;Initial Catalog=some_stuff;Integrated Security=True;Pooling=False"
                  providerName="System.Data.SqlClient" />
            <add name="Fingerprint_Attendance.Properties.Settings.some_stuff"
                  connectionString="Data Source=IFEOLUWA\MSSQLSERVER2;Initial Catalog=some_stuff;Integrated Security=True;Pooling=False"
                  providerName="System.Data.SqlClient" />
            <add name="Fingerprint_Attendance.Properties.Settings.Login_DataBaseConnectionString"
                  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Login_DataBase.mdf;Integrated Security=True;Connect Timeout=30"
                  providerName="System.Data.SqlClient" />
      </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>